<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <base href="/"> -->
    <title>Cointrade HTML Website Template </title>
    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <!-- Fontello CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/fontello.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- [if lt IE 9]> -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- <![endif] -->
</head>

<body>

    <%- include('menu.html') %>

        <% if(typeof data !='undefined' && data.alertMsg){ %>
            <script>
                alert(`<%= data.alertMsg %>`);
            </script>
            <% } %>
                <!--  hero-section -->
                <div id="particles-js" class="hero-section">
                </div>
                <div class="hero-container">
                    <div class="container">
                        <div class="row ">
                            <div
                                class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center ">
                                <!--  hero-block-->
                                <div class="hero-block">
                                    <h1 class="hero-title mb30">Buy And Sell Digital Currency</h1>
                                    <p class="text-white">Praesent sodales ultricies dolorut feugiatnisi tincidunt
                                        utestib Aliquam enim nisl, efficitupendisse convallis nisl eu leo commodo
                                        tempus. ulumest urnatristi risus sitame.</p>
                                    <a href="#" class="btn btn-default btn-lg">Get Started</a>
                                </div>
                                <!--  /.hero-block-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--  /.hero-section -->
                <!--  bitcoin-price-section -->
                <div class="bg-light">
                    <div class="container">
                        <div class="row ">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                                <p class="text-primary pdt10 pdb10">Bitcoin BTC <strong>$9919.41</strong> </p>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                                <p class="text-primary pdt10 pdb10">Ethereum ETH <strong>$759.41</strong> </p>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                                <p class="text-primary pdt10 pdb10">Ripple XRP <strong>$0.8612</strong> </p>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                                <p class="text-primary pdt10 pdb10">Litecoin LTC <strong>$184.91</strong> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  /.bitcoin-price-section -->
                <!--  about-section -->
                <div class="space-medium">
                    <div class="container">
                        <div class="row ">
                            <!--  section-title -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="section-title">
                                    <h2>Who is CoinTrade?</h2>
                                </div>
                            </div>
                            <!--  /.section-title -->
                        </div>
                        <!-- about -->
                        <div class="row ">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="mb20">
                                    <p class="lead">Quisque interdum arcutlacs sollicitudin cursus at vel
                                        ligellentesque eget fs none metus aliquet tepor veid arcpretiumute impdiet
                                        dolor ultriceras dapibus.</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="mb20">
                                    <p>Nam non convallis mielaoreet enimuspendis facibus magna elitmolestie
                                        ultricies ligula dign issllus rutrume egestas gravida. Etiam sodales
                                        volutpat enut ultricese sem varius vitaeis vel dui commod convstie ultricies
                                        ligula dignissllus. </p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="mb20">
                                    <p>Seronse convallis mielaoreet enimuspendis facibuses magna elitmolestie
                                        ultricies ligula dignissllus rutrume egestas gravida. Etiam semonvallis
                                        diammag naestie ultricies ligulaser sodales volutpat enut ultricese. </p>
                                </div>
                            </div>
                        </div>
                        <!-- /.about description -->
                        <hr>
                        <div class="row ">
                            <!-- counter -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="counter-block">
                                    <h2 class="counter-title">$10B+</h2>
                                    <p class="counter-text">In Digital Currency Exchanged</p>
                                </div>
                            </div>
                            <!-- /.counter -->
                            <!-- counter -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="counter-block">
                                    <h2 class="counter-title">10M+</h2>
                                    <p class="counter-text">Customers Served</p>
                                </div>
                            </div>
                            <!-- /.counter -->
                            <!-- counter -->
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <div class="counter-block">
                                    <h2 class="counter-title">16+</h2>
                                    <p class="counter-text">Countries Supported</p>
                                </div>
                            </div>
                            <!-- /.counter -->
                        </div>
                    </div>
                </div>
                <!-- /.about -->
                <!--  buy/sell-section -->
                <div class="space-medium bg-light">
                    <div class="container">
                        <div class="row ">
                            <!--  buy/sell-image -->
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="">
                                    <img src="/public/images/small_dashboard.png" alt="">
                                </div>
                            </div>
                            <!--  /.buy/sell-image -->
                            <!--  buy/sell-details -->
                            <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="pdt40">
                                    <h2>Buy and Sell Digital Currency</h2>
                                    <p class="lead">Nam non convallis mielaoreet enimuspendis facibuse magna elit,
                                        molestie ultricies ligula dignissllus rutrumi egestas gravida. </p>
                                    <p>Nam non convallis mielaoreet enimuspendis facibuse magna eliltricies ligula
                                        dignissllus rutrumi egestas gravida. </p>
                                    <a href="#" class="btn btn-default">Sign up</a>
                                </div>
                            </div>
                            <!--  /.buy/sell-details -->
                        </div>
                    </div>
                </div>
                <!--  buy/sell-section -->
                <!--  deposite options -->
                <div class="bg-secondary pinside30">
                    <div class="container">
                        <div class="row ">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="mt-3">
                                    <h4>Variety of deposits and withdrawal options</h4>
                                </div>
                            </div>
                            <div class="offset-xl-1 col-xl-5 offset-lg-1 col-lg-5 col-md-6 col-sm-12 col-12">
                                <div class="">
                                    <span><a href="#" class="zoomimg mr-2"><img src="/public/images/paypal.png"
                                                alt=""></a></span>
                                    <span><a href="#" class="zoomimg mr-2"><img src="/public/images/mastercard.png"
                                                alt=""></a></span>
                                    <span><a href="#" class="zoomimg mr-2"><img src="/public/images/mestro.png"
                                                alt=""></a></span>
                                    <span><a href="#" class="zoomimg mr-2"><img src="/public/images/visa.png"
                                                alt=""></a></span>
                                    <span><a href="#" class="zoomimg mr-2"><img src="/public/images/skrill.png"
                                                alt=""></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  /.deposite options -->
                <!-- Process Step -->
                <div class="space-medium">
                    <div class="container">
                        <div class="row ">
                            <div
                                class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12 text-center">
                                <div class="section-title">
                                    <h2>Simple Steps to Get Started</h2>
                                    <p>Morbi egestas dictum sid volutpat est pharete hendrerit quis tortoret
                                        urabitur quis sceleest pharetu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <!-- Step-1 -->
                                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                                        <img src="/public/images/form.png" alt="">
                                    </div>
                                    <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="pdt120">
                                            <h3>Sign up</h3>
                                            <p>Morbi egestas dictum sid volutpat est pharetra eraesente hendrerit
                                                quis tortoret urabitur quis scelerisqetpat est pharetra eraesente
                                                hendreri est pharetra eraesente hendrerit . </p>
                                        </div>
                                    </div>
                                    <!-- /.Step-1 -->
                                    <!-- Step-2 -->
                                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                                        <div class="pdt120">
                                            <h3>Connect</h3>
                                            <p>Morbi egestas dictum sid volutpat est pharetra eraesente hendrerit
                                                quistortoret urabitur quis scelerisque tellusest paesenteorbi
                                                egestas dictum sid volutpat est . </p>
                                        </div>
                                    </div>
                                    <!-- /.Step-2 -->
                                    <!-- Step-3 -->
                                    <div class="offset-xl-2 col-xl-5 offset-lg-2 col-lg-5 col-md-6 col-sm-12 col-12">
                                        <img src="/public/images/connect.png" alt="">
                                    </div>
                                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                                        <img src="/public/images/bitcoin.png" alt="">
                                    </div>
                                    <div class="offset-xl-1 col-xl-6 offset-lg-1 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="pdt120">
                                            <h3>Buy Digital Currancy</h3>
                                            <p>Squis tortoret urabitur quis scelerisque tellus dictum sid volutpat
                                                est pharetum sid volutpat est pharetra eraesente tortoret urabitur
                                                quis scelerisque tellus dictum sid. </p>
                                        </div>
                                    </div>
                                    <!-- /.Step-2 -->
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div
                                class="offset-xl-4 col-xl-4 offset-lg-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center mt60">
                                <a href="#" class="btn btn-default btn-lg btn-block">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/. Process Step -->
                <!-- feature-section -->
                <div class="space-medium bg-light">
                    <div class="container">
                        <div class="row ">
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-shield"></i></div>
                                    <div class="feature-content">
                                        <h4>Safe & Secure</h4>
                                        <p>Morbi egestas dictum sid volutpat est pharete hendrerit quis tortoret
                                            urabitur quis sceleest pharetu.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-brainstorming"></i></div>
                                    <div class="feature-content">
                                        <h4>Experts Support</h4>
                                        <p>Squis tortoret urabitur quis sceleritue tellus dictum magna elitmolestie
                                            sen ultricies ligula dignissime.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-smartphone"></i></div>
                                    <div class="feature-content">
                                        <h4>Mobile Apps</h4>
                                        <p>Morbi egestas dictum sid volutpat est pharete hendrerit quis tortoret
                                            urabitur quis sceleest pharetu.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-wallet"></i></div>
                                    <div class="feature-content">
                                        <h4>Wallet</h4>
                                        <p>Morbi egestas dictum sid volutpat est pharete hendrerit quis tortoret
                                            urabitur quis sceleest pharetu.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-loan"></i></div>
                                    <div class="feature-content">
                                        <h4>Instant Exchange</h4>
                                        <p>Squis tortoret urabitur quis sceleritue tellus dictum magna elitmolestie
                                            sen ultricies ligula dignissime.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                            <!-- feature-left -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="feature-left">
                                    <div class="feature-icon"><i class="icon-exchange"></i></div>
                                    <div class="feature-content">
                                        <h4>Recuring Buys</h4>
                                        <p>Morbi egestas dictum sid volutpat est pharete hendrerit quis tortoret
                                            urabitur quis sceleest pharetu.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.feature-left -->
                        </div>
                    </div>
                </div>
                <!-- /.feature-section -->
                <!-- cta-section -->
                <div class="cta-section">
                    <div class="container">
                        <div class="row ">
                            <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="cta-block">
                                    <h1 class="text-white">Purchasing Crypto Now is Easier Than Ever</h1>
                                    <p>Buy and sell top cryptos on cointrade</p>
                                    <a href="#" class="btn btn-default">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.cta-section -->
                <!-- app-section -->
                <div class="space-medium">
                    <div class="container">
                        <div class="row ">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 ">
                                <h2>Leading bitcoin & <br> cryptocurrency exchange</h2>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 ">
                                <div class="">
                                    <span><a href="#"><img src="/public/images/apple_app.png" alt=""></a></span>
                                    <span><a href="#"><img src="/public/images/google_app.png" alt=""></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.app-section -->
                <!-- footer -->
                <div class="footer">
                    <div class="container">
                        <div class="row ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="ft-logo"><img src="/public/images/logo.png" alt=""></div>
                            </div>
                        </div>
                        <hr class="footer-line">
                        <div class="row ">
                            <!-- footer-about -->
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                                <div class="footer-widget ">
                                    <div class="footer-title">Company</div>
                                    <ul class="list-unstyled">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Press</a></li>
                                        <li><a href="#">Legal & Privacy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.footer-about -->
                            <!-- footer-links -->
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                                <div class="footer-widget ">
                                    <div class="footer-title">Quick Links</div>
                                    <ul class="list-unstyled">
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.footer-links -->
                            <!-- footer-links -->
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ">
                                <div class="footer-widget ">
                                    <div class="footer-title">Social</div>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Google +</a></li>
                                        <li><a href="#">Linked In</a></li>
                                        <li><a href="#">Facebook</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.footer-links -->
                            <!-- footer-links -->
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-6 ">
                                <div class="footer-widget ">
                                    <h3 class="footer-title">Subscribe Newsletter</h3>
                                    <form>
                                        <div class="newsletter-form">
                                            <input class="form-control" placeholder="Enter Your Email address"
                                                type="text">
                                            <button class="btn btn-default btn-sm" type="submit">Go</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.footer-links -->
                            <!-- tiny-footer -->
                        </div>
                        <div class="row ">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                                <div class="tiny-footer">
                                    <p>Copyright © All Rights Reserved 2020 | Template Design & Development by <a
                                            href="https://easetemplate.com/ " target="_blank"
                                            class="copyrightlink">EaseTemplate</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /. tiny-footer -->
                        </div>
                    </div>
                </div>
                <!-- /.footer -->
                <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <!-- <script src="/public/js/jquery.min.js"></script> -->
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <!-- <script src="/public/js/bootstrap.min.js"></script> -->
                <script src="/public/js/menumaker.js"></script>
                <script src="/public/js/return-to-top.js"></script>
                <script src="/public/js/navigation.js"></script>
                <script src="/public/js/particles.min.js"></script>
                <script>
                    /* ---- particles.js config ---- */
                    /* -----------------------------------------------
                /* How to use? : Check the GitHub README
                /* ----------------------------------------------- */

                    /* To load a config file (particles.json) you need to host this demo (MAMP/WAMP/local)... */
                    /*
                    particlesJS.load('particles-js', 'particles.json', function() {
                      console.log('particles.js loaded - callback');
                    });
                    */

                    /* Otherwise just put the config content (json): */

                    particlesJS('particles-js',

                        {
                            "particles": {
                                "number": {
                                    "value": 80,
                                    "density": {
                                        "enable": true,
                                        "value_area": 800
                                    }
                                },
                                "color": {
                                    "value": "#ff9f2a"
                                },
                                "shape": {
                                    "type": "circle",
                                    "stroke": {
                                        "width": 0,
                                        "color": "#000000"
                                    },
                                    "polygon": {
                                        "nb_sides": 5
                                    },
                                    "image": {
                                        "src": "img/github.svg",
                                        "width": 100,
                                        "height": 100
                                    }
                                },
                                "opacity": {
                                    "value": 0.5,
                                    "random": false,
                                    "anim": {
                                        "enable": false,
                                        "speed": 1,
                                        "opacity_min": 0.1,
                                        "sync": false
                                    }
                                },
                                "size": {
                                    "value": 5,
                                    "random": true,
                                    "anim": {
                                        "enable": false,
                                        "speed": 40,
                                        "size_min": 0.1,
                                        "sync": false
                                    }
                                },
                                "line_linked": {
                                    "enable": true,
                                    "distance": 150,
                                    "color": "#ff9f2a",
                                    "opacity": 0.4,
                                    "width": 1
                                },
                                "move": {
                                    "enable": true,
                                    "speed": 6,
                                    "direction": "none",
                                    "random": false,
                                    "straight": false,
                                    "out_mode": "out",
                                    "attract": {
                                        "enable": false,
                                        "rotateX": 600,
                                        "rotateY": 1200
                                    }
                                }
                            },
                            "interactivity": {
                                "detect_on": "canvas",
                                "events": {
                                    "onhover": {
                                        "enable": true,
                                        "mode": "repulse"
                                    },
                                    "onclick": {
                                        "enable": true,
                                        "mode": "push"
                                    },
                                    "resize": true
                                },
                                "modes": {
                                    "grab": {
                                        "distance": 400,
                                        "line_linked": {
                                            "opacity": 1
                                        }
                                    },
                                    "bubble": {
                                        "distance": 400,
                                        "size": 40,
                                        "duration": 2,
                                        "opacity": 8,
                                        "speed": 3
                                    },
                                    "repulse": {
                                        "distance": 200
                                    },
                                    "push": {
                                        "particles_nb": 4
                                    },
                                    "remove": {
                                        "particles_nb": 2
                                    }
                                }
                            },
                            "retina_detect": true,
                            "config_demo": {
                                "hide_card": false,
                                "background_color": "#b61924",
                                "background_image": "",
                                "background_position": "50% 50%",
                                "background_repeat": "no-repeat",
                                "background_size": "cover"
                            }
                        }

                    );
                </script>
</body>

</html>